<%= javascript_pack_tag 'bookings' %>

<div class="col-lg-12">
  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h2 class="text-center">Booking Page</h2>
    </div>
  </div>

  <div class="alert alert-warning" id="nobooking" style="display: none;">
    Booking for the given dates are not available .
    <button onclick="location.reload()"> refresh </button>  
  </div>
   
  
  <%= form_with model: @booking, url:hotel_bookings_path  do |form| %>
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="hotel_name" class="mb-2">Hotel</label>
          <input class="form-control form-control-lg" id="hotel_name" type="text" placeholder="<%= @hotel.name %>" readonly data-hotel-id="<%= @hotel.id %>">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :check_in_date, class: 'mb-2' %>
          <%= form.date_field :check_in_date, class: 'date-picker form-control form-control-lg', min: Date.today %>
          <% @booking.errors.full_messages_for(:check_in_date).each do |message| %>
            <p class="text-danger"><%= message%></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :check_out_date, class: 'mb-2' %>
          <%= form.date_field :check_out_date, class: 'date-picker form-control form-control-lg' %>
          <% @booking.errors.full_messages_for(:check_out_date).each do |message| %>
            <p class="text-danger"><%= message%></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :guest_name, class: 'mb-2' %>
          <%= form.text_field :guest_name, disabled: true, id: 'booking_guest_name', class: 'form-control form-control-lg' %>
          <% @booking.errors.full_messages_for(:guest_name).each do |message| %>
            <p class="text-danger"><%= message%></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <%= form.label :no_of_guest, class: 'mb-2' %>
          <%= form.number_field :no_of_guest, disabled: true, id: 'booking_no_of_guests', class: 'form-control form-control-lg', in: 1..16 %>
          <% @booking.errors.full_messages_for(:no_of_guest).each do |message| %>
            <p class="text-danger"><%= message%></p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
        <%= form.label :room_type, class: 'mb-2' %>
        <%= form.select :room_type, {}, {prompt: 'Select Room Type'}, class: 'form-select form-select-lg',disabled: true, id: 'booking_room_type'%>
        <% @booking.errors.full_messages_for(:room_type).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
        </div>
      </div>
    </div>
    
    <!-- submit button & back button-->
    <div class="row mt-5">
      <div class="col-lg-2">
      <%= form.submit "Book Room",class: "btn btn-success btn-lg" ,disabled: true , id: 'book-button' %>
      </div>
    </div>
  <% end %>
</div>

