<header>
  <nav class="navbar navbar-expand-lg bg-light justify-content-center">
    <div class="container">
      
      <%if !user_logged_in?%>
        <a href="/" class="navbar-brand">BookRooms</a>
        <% else %>
          <% if current_user.role == 'admin'%>
            <a href="/admins" class="navbar-brand">BookRooms</a>
          <% else %>
            <a href="/customers" class="navbar-brand">BookRooms</a>
          <% end %>
        <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          
            <% if !user_logged_in? %>
              <li class="nav-item">
                <%= link_to 'Customer Login', login_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Customer SignUp', signup_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Admin Login', admin_login_path, method: :get, class: 'nav-link' %>
              </li>
            <% else %>
              
              <% if current_user.role == 'admin'%>
                
                
                <li class="nav-item">
                  <%= link_to 'Booking List', bookings_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Hotels', hotels_path, class: 'nav-link' %>
                </li>
                <li class="nav-item"> 
                  <%#= link_to 'Rooms', rooms_path, class: 'nav-link' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to 'Booking History', bookings_history_path, class: 'nav-link ml-3' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Hotels', hotels_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Gallery', galleries_path, class: 'nav-link ' %>
                </li>
              <% end %>

              <%# notification button dropdown %>
              <%= render  "shared/notification" %>
            <% end %>
        </ul>
          <%if user_logged_in?%>
            <li class="nav-item list-unstyled">
              <span class="nav-link disabled text-dark">Welcome, <%= current_user.name %>(<%= current_user.role %>)  </span>
            </li>
            <li class="nav-item list-unstyled">
              <%= link_to 'Logout', logout_path,method: :delete, class: 'btn btn-danger ms-2' %>
            </li>
          <% end %>
      </div>
    </div>
  </nav>
</header>


<script>
  document.getElementById('readbtn').addEventListener('click', function(event) {
    event.preventDefault();
    var btnSelect = document.getElementById('readbtn');
    var selectedBtn = btnSelect.value;

    $.ajax({
      url: '/markread',
      method: 'POST',
      data: {
        selected_btn: selectedBtn,
        authenticity_token: $('meta[name="csrf-token"]').attr('content')
      },
      success: function(response) {
          // Update notification count to 0
        var notificationCount = document.getElementById('notification-count');
        if (notificationCount) {
          notificationCount.innerText = '0';
        }

        // Hide the notification list
        var notificationList = document.getElementById('notification-list');
        if (notificationList) {
          notificationList.style.display = 'none';
        }
      },
      error: function(xhr, status, error) {
        alert("Failed to mark as read");
      }
    });
  });
</script>
