<%= form_for [@hotel, @room] do |form| %>
  <div class="row mx-4 mt-5">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="hotel_name" class="mb-2">Hotel Name</label>
        <input class="form-control form-control-lg" type="text" value="<%= @hotel.name %>" readonly>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :room_type, class: 'mb-2' %>
        <%= form.select :room_type, options_for_select(['Single Bed', 'Double Bed', 'Suite', 'Dormitory'], selected: @room.room_type), { prompt: 'Select Room Type' }, class: 'form-select form-select-lg' %>
        <% @room.errors.full_messages_for(:room_type).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :price, class: 'mb-2' %>
        <%= form.text_field :price, class: 'form-control form-control-lg' %>
        <% @room.errors.full_messages_for(:price).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div> 
  </div> 

  <div class="row mx-4 mt-5">
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :room_number, class: 'mb-2' %>
        <%= form.text_field :room_number, class: 'form-control form-control-lg' %>
        <% @room.errors.full_messages_for(:room_number).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div>
  </div> 

  <div class="row mx-4 my-5 ">
    <div class="col-lg-2">
     <%= form.submit class: "btn btn-primary btn-primary-lg btn-lg px-4" %>
    </div>
    
    <div class="col-lg-3 ">
      <%= link_to 'Back', hotel_show_rooms_path(hotel_id: session[:hotel_id]), class: 'btn btn-lg btn-warning' %>
    </div>
  </div>
  
<% end %>