<%= form_with model: @room do |form| %>
  <div class="row mx-4 mt-5">
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :hotel_id, class: 'mb-2' %>
        <%= form.select :hotel_id,  options_for_select(Hotel.all.map{|hotel| [hotel.name, hotel.id]}),{prompt:'Select Hotel'},class: 'form-select form-select-lg' ,selected: room.hotel_id%>
        <% @room.errors.full_messages_for(:hotel_id).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :room_type, class: 'mb-2' %>
        <%= form.select :room_type,  options_for_select(Room::ROOMTYPES),{prompt:'Select Room Type'},class: 'form-select form-select-lg' ,selected: room.room_type%>
        <% @room.errors.full_messages_for(:room_type).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="form-group">
        <%= form.label :price, class: 'mb-2' %>
        <%= form.text_field :price, class: 'form-control form-control-lg' %>
        <% @room.errors.full_messages_for(:price).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div> 
  </div> 

  <div class="row mx-4 mt-5">
    <div class="col-lg-4">
      <div class="form-group">
        <%= form.label :room_number, class: 'mb-2' %>
        <%= form.text_field :room_number, class: 'form-control form-control-lg' %>
        <% @room.errors.full_messages_for(:room_number).each do |message| %>
          <p class="text-danger"><%= message%></p>
        <% end %>
      </div>
    </div> 
  </div> 
  
  <div class="row mx-4 mt-5">
    <div class="col-lg-4">
      <%= form.label :bedroom_image %> <br>
      <%= form.file_field :bedroom_image %>
    </div>
  </div>

  <div class="row mx-4 my-5 ">
    <div class="col-lg-2">
     <%= form.submit class: "btn btn-primary btn-primary-lg btn-lg px-4" %>
    </div>
    
    <div class="col-lg-3 ">
      <%= link_to "Back", hotels_path , class: "btn btn-lg btn-warning px-4" %>
    </div>
  </div>
  
<% end %>