<div class="container">
  <h3 class="text-center mb-4"><span class="border-bottom border-2 border-dark pb-2">Search & Filter</span></h3>
  
  <%= form_for :search_hotels, url: search_hotels_path, method: :get do |form| %>
    <div class="row mt-2">
      <div class="col-md-4 mb-2">
        <label for="">Search by Keyword</label>
        <%= form.text_field :query, value: params[:search_hotels].presence && params[:search_hotels][:query], placeholder: 'Search by (name, city, state)', class: 'form-control' %>
      </div>
      <div class="col-md-3 mb-2">
        <label for="">Check-in-date</label>
        <%= date_field_tag 'checkin', params[:checkin], class: 'form-control date-picker', min: Date.today, placeholder: 'Check-in-date' %>
      </div>
      <div class="col-md-3 mb-2">
        <label for="">Check-out-date</label>
        <%= date_field_tag 'checkout', params[:checkout], class: 'form-control date-picker', placeholder: 'Check-out-date' %>
      </div>
      <div class="col-md-2 mb-2 mt-md-4">
        <%= form.submit 'Search', class: 'btn btn-md btn-success btn-block' %>
      </div>
    </div>
  <% end %>

  <% if current_user.role == 'customer' %>
    <%= form_tag filter_hotels_path, method: :get do %>
      <div class="row mt-2">
        <div class="col-md-4 col-lg-3 mb-2">
          <% @hotel_city_list = Hotel.pluck(:city).uniq %>
          <label for="">Destination</label>
          <%= select_tag 'destination', options_for_select([['All Destination', '']] + @hotel_city_list), class: 'form-control' %>
        </div>
        <div class="col-md-3 col-lg-2 mb-2">
          <label for="">Check-in-date</label>
          <%= date_field_tag 'checkin', params[:checkin], class: 'form-control date-picker', min: Date.today, placeholder: 'Check-in-date' %>
        </div>
        <div class="col-md-3 col-lg-2 mb-2">
          <label for="">Check-out-date</label>
          <%= date_field_tag 'checkout', params[:checkout], class: 'form-control date-picker', placeholder: 'Check-out-date' %>
        </div>
        <div class="col-md-2 col-lg-2 mb-2">
          <label for="">No. of guests</label>
          <%= number_field_tag 'guests', 1, min: 1, max: 10, class: 'form-control', placeholder: 'Adults and children' %>
        </div>
        <div class="col-md-2 col-lg-2 mb-2">
          <label for="">No. of rooms</label>
          <%= number_field_tag 'rooms', 1, min: 1, max: 5, class: 'form-control', placeholder: 'Number of rooms' %>
        </div>
        <div class="col-md-1 mb-2 mt-md-4">
          <%= submit_tag 'Filter', class: 'btn btn-md btn-info btn-block' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


