<div class="container mb-5">
  <%if flash[:notice].present?%>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row my-1 ">
    <h2 class="text-center text-success">
      <span class="border-bottom border-2 border-dark pb-2">Hotel 
        <span class="text-warning"><%= @hotel.name %></span> Rooms 
      </span>
    </h2>
  </div>

  <div class="row mb-1 mt-4">
    <div class="col-lg-12">
      <% if current_user.hotel_admin? %>
        <%= link_to "Room +", new_hotel_room_path, class: "btn btn-success px-5 my-1"%>
      <% end %>
    </div>
  </div>
    
  <% if @hotel.rooms.present? %>
    <div class="row mt-2">
      <% @hotel.rooms.sort_by(&:room_number).each do |room| %>
        <div class="col-lg-4 col-md-6">
          <div class="card shadow mt-5">
            <div class="card-body">
              <h5 class="card-title"><u><%= room.room_type %></u></h5>
              <p class="card-text"><strong>Room Number:</strong> <%= room.room_number %></p>
              <p class="card-text"><strong>Capacity:</strong> <%= room.capacity %> person</p>
              <p class="card-text"><strong>Price:</strong> <%= room.price %> Rs.</p>
              <% if current_user.hotel_admin? %>
                <%= link_to 'Edit detail', edit_hotel_room_path(@hotel,room), class: 'btn btn-success' %>
                <%= link_to 'Delete', hotel_room_path(@hotel,room), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>


  <% else %>
    <div class="row card shadow p-4 mt-5">
      <% if current_user.role == 'admin' %>
        <h3 class="text-danger">No Rooms are available in this Hotel, Please add Room.
          <%= link_to "Room +", new_room_path, class: "btn btn-success px-4"%>
        </h3>
      <% else %>
        <h3 class="text-danger">No Rooms are available in this Hotel, Please Book different Hotels Room.
          <%= link_to "Hotel list", hotels_path, class: "btn btn-primary px-4" %>
        </h3>
      <% end %>
      
    </div>
  <% end %>
</div>
