<div class="container">

</div> 
<% if @hotel.rooms.present? %>
  <div class="row mt-5">
    <h2 class="text-center">Available rooms</h2>
    <div class="row">
      <div class="col-lg-12">
        <% if current_admin %>  
          <%= link_to "Add new hotel", new_hotel_path, class: "btn btn-primary"%>
          <%= link_to "Add new room", new_room_path, class: "btn btn-success"%>
          <%= link_to "Back to dashboard", admin_dashboard_path, class: "btn btn-warning"%>
        <%else%>
          <%= link_to "Back to Hotel", hotels_path, class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>

    <% @hotel.rooms.each do |room|%>
      <div class="col-lg-4">
          <div class="card mt-5">
            <% if room.bedroom_image.attached? %>
              <%= image_tag room.bedroom_image, alt: 'room image',class: 'rounded-3 p-2' %>
            <% end %> 
            <div class="card-body">
              <h5 class="card-title"><%= room.hotel.name %></h5>
              <p class="card-text"><strong>Room Type : </strong><%= room.room_type %></p>
              <p class="card-text"><strong>Address : </strong><%= room.hotel.full_address %></p>
              <%if current_admin%>
                <p class="card-text"><strong>Price : </strong><%= room.price %> Rs.</p>
              <% end %>
              <p class="card-text"><strong>Capacity : </strong><%= room.capacity %> person</p>
              <p class="card-text"><strong>Availability : </strong><%= room.availability %> </p>
              <%if current_admin %>
                <%= link_to 'Edit detail', edit_room_path(room), class: 'btn btn-success' %>
                <%= link_to 'Show detail', room_path(room), class: 'btn btn-primary' %>
                <%= link_to 'Delete', room_path(room), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                
              <% else %>
                <%= link_to 'Book Room', room_path(room), class: 'btn btn-success' %> <strong> <%= room.price %> Rs.</strong>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>  
  </div>
<% end %>